{% extends 'base.html.twig' %}

{% block title %}Historique {% endblock %}

{% block body %}
    <div id='main-title'>
        <h1>Historique de recherche</h1> 
    </div>
    <div id='return'>
        <a class='button' href="{{ path('home') }}">Nouvelle recherche</a>
    </div>
    <table class="search-table">
        <thead>
            <tr>
                <th>Recherche</th>
                <th>Date de recherche</th>
                <th>Voir</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for search in searchHistory %}
                <tr>
                    <td>
                        {% if search.city is not empty %}
                            {{ search.city }}
                        {% else %}
                            {{ search.latitude }}, {{ search.longitude }}
                        {% endif %}
                    </td>
                    <td>
                        {{ search.searchDate|date("d/m/Y H:i:s") }}
                    </td>
                    <td>
                        <a href="{{ path('get_search', {'id': search.id }) }}" class="icon-link blue">
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </td> 
                    <td>
                        <a href="{{ path('delete_search', {'id': search.id }) }}" class="icon-link red">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
